@model SystemForRecordingWorkingTime.Models.RequestTypeChooser

@{
    ViewData["Title"] = "CreateRequest";
    ViewBag.ActionName = "Create";
}

<h1>CreateRequest</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRequestOfType">
            <div class="form-group">
                <label class="control-label">RequestType</label>
                <select asp-for="TypeIndex" asp-items="Html.GetEnumSelectList<Request.MappedInheritorTypesEnum>()" class="form-control">@ViewBag.User?.Role</select>
            </div>
             <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.PartialViewName != null)
        {
            @await Html.PartialAsync((string)ViewBag.PartialViewName);
        }
    </div>
</div>

<div>
    <a asp-action="RequestList">Back to List</a>
</div>
<script>
    const addStatedDate = function () 
    {
        event.preventDefault();
        let data = document.getElementById('datesList').value.split(',').filter(Boolean);
        data.push(document.forms.mainForm.dateValue.value.toString())
        document.getElementById('datesList').value = data;
    };
</script>
