@model SystemForRecordingWorkingTime.Models.CreateDayOffAtTheExpenseOfWorkingOutRequest

<form name="mainForm"
asp-action="@(ViewBag.ActionName)DayOffAtTheExpenseOfWorkingOutRequest" 
asp-route-id="@ViewBag.RequestId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ApprovingUserEmail" class="control-label"></label>
        <input asp-for="ApprovingUserEmail" class="form-control" />
        <span asp-validation-for="ApprovingUserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReplacementUserEmail" class="control-label"></label>
        <input asp-for="ReplacementUserEmail" class="form-control" />
        <span asp-validation-for="ReplacementUserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input name="dateValue" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StatedDatesList" class="control-label"></label>
        <input id="datesList" asp-for="StatedDatesList" class="form-control" />
        <span asp-validation-for="StatedDatesList" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="button" value="AddDate" onclick="return addStatedDate();" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <input name="workingOutDateValue" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WorkingOutDatesList" class="control-label"></label>
        <input id="workingOutDatesList" asp-for="WorkingOutDatesList" class="form-control" />
        <span asp-validation-for="WorkingOutDatesList" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="button" value="AddDate" onclick="return addWorkingOutDate();" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <label asp-for="Comment" class="control-label"></label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<script>
    const addWorkingOutDate = function () 
    {
        let data = document.getElementById('workingOutDatesList').value.split(',').filter(Boolean);
        data.push(document.forms.mainForm.workingOutDateValue.value.toString())
        document.getElementById('workingOutDatesList').value = data;
    };
</script>